<!doctype html>

<html>
	<head>
		<title>hello</title>
		<meta name="title" content="Tess's GitHub Page">
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<meta name="language" content="en">
		<meta charset="UTF-8">
		<link href="src/css/index.css" media="screen" rel="stylesheet" type="text/css" />
		<link rel="icon" type="image/x-icon" href="src/img/favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet' type='text/css'>
		<script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
	</head>
	<body>
		<div id="app">
			<div :class="toggled ? 'maximalist' : 'minimalist'">
				<div class="flex-column">
					<div class="flex-row flex-item top-row">
						<label for="toggle" class="toggle-switch" >
							<input type="checkbox" id="toggle" v-model="toggled">
							<span class="slider round"></span>
						</label>
					</div>
					<div 
						class="flex-row flex-item"
					>
						<img 
							v-if="toggled" 
							src="src/img/lip-sunglasses.png" 
							alt="white femme with reddish hair wearing lip-shaped sunglasses, clip-on hoop earrings, and a denim jacket"
							class="profile-image"
						>
					</div>
				</div>
				<div class="flex-column main-content">
					<div class="flex-row">
						Hello world, I'm Tess. Nice to meet you. ✨
					</div>
					<div class="flex-row icons">
						<span title="check out my resume" class="icon-image">
							<a href="src/pdf/tess-bakke-resume.pdf"x target="_blank">📝</a>
						</span>
						<span title="LinkedIn" class="icon-image">
							<a href="https://www.linkedin.com/in/tessbakke/"x target="_blank">🖇️</a>
						</span>
						<span title="GitHub" class="icon-image">
							<a href="https://github.com/tesslins"x target="_blank">😺</a>
						</span>
					</div>
					<div class="flex-row">I am a fullstack Javascript-leaning software engineer.
						I have experience as an individual contributor, technical team lead, and engineering manager.
						Things I like include: mission-driven organizations, inclusive teams, learning & teaching via technical mentorship, and working closely with product managers, product teams, & designers to build useful products.
						This is a manager README I wrote during my time as a engineer manager at Kink.com that reflects my managerial style at that time, and still feels generally true.
						Besides managing, the work I'm most proud of is designing and building a video transcoding publishing pipeline on top of AWS services with a custom CMS.
					</div>
					<div class="flex-row">
						My software background is considered non-traditional; I have a degree in Earth Science and worked several geology jobs before doing an intensive coding course at Hackbright Academy in 2014. 
						(Yes, I still love geology & rocks, and also had complicated experiences in and have complicated feelings about the industry.)
					</div>
					<div class="flex-row">
						Are you doing something rad in the world and in need of some tech brainpower? Please get in touch, I love getting to contribute to friends, neighbors and radical humans projects. 
					</div>
					<div class="list-header flex-row">
						current tech stack ⚙️
					</div>
					<div class="flex-row list">
						<ul>
							<li>Node microservice architecture with Express framework</li>
							<li>MySQL & MongoDB databases</li>
							<li>Redis as a caching layer</li>
							<li>Vue</li>
							<li>AWS (most familiar with Elastic Transcoder, Lambda, SNS, & S3)</li>
						</ul>
					</div>
					<div class="flex-row list-header">
						other things i do 🌞
					</div>
					<div class="flex-row list">
						<ul>
							<li>go into mountains and deserts</li>
							<li>look at rocks, birds, plants, trees</li>
							<li>go running, especially on amazing East Bay trails (am currently training for a 50k, wtf)</li>
							<li>tool around in Hazard, a 1982 Volkswagen van</li>
							<li>grow some plants outside (even though I currently live under several giant live oak trees) and inside</li>
							<li>read lots of books - fiction, non-fiction, and poetry (pls share your book recs!)</li>
							<li>participate in social activism, usually via technological contributions or by joining demonstrations & protests around East Bay & SF</li>
						</ul>
					</div>
					<div class="flex-row list-header">
						random recent things i admire or find interesting that are on the internet 🔗
					</div>
					<div class="flex-row list">
						<ul>
							<li><a href="https://charity.wtf/">https://charity.wtf/</a>, most especially <a href="https://charity.wtf/2017/05/11/the-engineer-manager-pendulum/">this post</a></li>
							<li><a href="https://stackoverflow.blog/2022/02/15/gen-z-doesnt-understand-file-structures-ep-415/">Apparently Gen Z "does not understand file structures" </a></li>
							<li><a href="https://www.livescience.com/48980-rats-sexual-attraction-lingerie.html">sexy rat jackets!</a> & <a href="https://open.spotify.com/episode/2ROgz2tkdiAQ48lkmoapH3?si=nGgxy1OvRsO3onECgPY8ew">the related fetish research</a></li>
							<li><a href="http://challengingmalesupremacy.org/wp-content/uploads/2015/04/Man-Child-Audre-Lorde.pdf">Man Child, an Audre Lorde essay from Sister Outsider</a></li>
						</ul>
					</div>
					<div class="flex-row good-bye">
						cheers! good bye & thank you for visiting
					</div>
				</div>
			</div>
		</div> <!-- /app -->
			<!-- Vue script. -->
			<script>
				const { createApp } = Vue;
				createApp({
					data() {
						return {
							toggled: false
						}
					}
				}).mount('#app')

			</script>
	</body>
</html>

