<!doctype html>

<html>
	<head>
		<title>hello</title>
		<meta name="title" content="Tess's GitHub Page">
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<meta name="language" content="en">
		<meta charset="UTF-8">
		<link href="src/css/index.css" media="screen" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<script src="https://unpkg.com/vue@3"></script>
	</head>
	<body>
		<div id="app">
			<div class="flex-row flex-item">
				<label for="toggle" class="toggle-switch" >
			  	<input type="checkbox" id="toggle" v-model="toggled">
			  	<span class="slider round"></span>
			 	</label>
			</div>
			<div v-if="toggled" id="maximalist-page" class="flex-row flex-item">
				<img src="src/img/lip-sunglasses.png">
			</div>
			<div v-else id="minimalist-page" class="flex-row flex-item">
			</div>
		</div>
			<!-- Vue script. -->
			<script>
				const { createApp } = Vue;
				createApp({
					data() {
						return {
							toggled: false
						}
					}
				}).mount('#app')

			</script>
	</body>
</html>

