html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  width: auto;
}

a {
	outline: none;
	cursor: pointer;
  }
  
img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	box-sizing: border-box;
  }

  .flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	box-sizing: border-box;
  }

  .flex-item {
	margin: 0 20px;
  }
  