html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  width: auto;
}

a {
	outline: none;
	cursor: pointer;
}
  
img {
	border-radius: 50%;
	max-height: 250px;
  min-width: 250px;
  object-fit: cover;
	user-select: none;
  vertical-align: top;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

/* flexbox styling */
.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	box-sizing: border-box;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	box-sizing: border-box;
}

.top-row {
	padding-top: 10px;
}

.flex-item {
	margin: 10px 0;
}

/* toggle styling */
.toggle-switch {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	width: 60px;
	height: 34px;
}
  
.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle-switch:before {
  content: '🤖';
	font-size: 3rem;
	left: -60px;
  position: absolute;
  top: -18px;
}

.toggle-switch:after {
	color: #DB0317;
  content: '🦋';
	font-size: 3rem;
  position: absolute;
  right: -58px;
  top: -18px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	-webkit-transition: .4s;
	background-color: white;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}
  
input:checked + .slider {
	background-color: #FF7B6C;
}

input:focus + .slider {
	box-shadow: 0 0 1px #FF7B6C;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
  
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}

.main-content {
	margin: 25px;
	line-height: 2;
}

/* maximalist styling */
.maximalist {
	background: #F80329;
	color: #78BE21;
	font-family: 'Fredoka One', Helvetica, Arial, sans-serif;
}


.list-header {
	font-size: 1.5rem;
	margin-top: 25px;
	text-transform: uppercase;
}

.first-item {
	font-size: 1.25rem;
}

.centered-text {
	font-size: 1.5rem;
	margin: 0 auto;
}

/* media queries */
@media screen and (min-width: 480px) {
		.toggle-switch:after {
			color: #DB0317;
			content: 'maximalist';
			font-family: 'Pacifico';
			font-size: 2.5rem;
			position: absolute;
			right: -200px;
			top: -24px;
	}
	.toggle-switch:before {
		content: 'minimalist';
		font-family: 'Roboto Mono';
		font-size: 1.9rem;
		left: -200px;
		position: absolute;
		top: -4px;
	}
}

  
  
  